// Color related
$primaryColor: #801113;
$secondaryColor: #38050e;
$tertiaryColor: #640d14;
$lightPrimaryColor: #ad2831;
$black: #000000;
$white: #ffffff;

// Font size related
$title: 4rem;
$subtitle: 2.5rem;
$text: 1.5rem;
